body {
	margin: 0;
}

.header_info_container {
	display: grid;
	grid-template-columns: 4fr 0.9fr;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	font-family: sans-serif;
	margin: 0px 10px;
	color: rgb(104, 104, 104);
}
.header_user_container {
	display: flex;
	align-items: center;
}
.header_user_name {
	margin-right: 20px;
}
.header_user_coins {
	display: flex;
	align-items: center;
	background-color: rgb(219, 219, 219);
	padding: 0px 10px;
	border-radius: 23px;
	padding-right: 3px;
}

.coin_icon {
	margin-left: 5px;
	padding-top: 6px;
}

.header_hero_container {
	position: relative;
	display: inline-block;
	text-align: center;
	height: 300px;
}

.header_hero_img {
	width: 100%;
	height: auto;
}

.header_hero_text {
	position: absolute;
	top: 300px;
	left: 80px;
	color: white;
	font-family: sans-serif;
	font-size: 40px;
}
